.forecast-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  font-family: 'Roboto', sans-serif;
  margin-top: 50px ;
  justify-content: center;
  align-items: center;
}

.single-forecast, .single-forecast-day {
  list-style-type: none;
  width: 50px;
  padding: 10px;
}
.single-forecast-day {
  font-weight: bold;
  color: #EC6E4C;
  font-size: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  
}
.whole-forecast-container {
  background-color: white; /* Background color of the box */
  box-shadow: 5px 3px 10px 0px rgba(0, 0, 0, 0.3); /* Shadow effect */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.min-max-container {
  display: flex;
  margin: 0;
  justify-content: space-between;
  text-align: center;
  font-size: 18px;
}