.forecast-container {
  display: grid;
  grid-template-columns: repeat(5, 180px);
  gap: 30px;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  margin-top: 50px ;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
/* Example of a media query for smaller screens */
@media (max-width: 1100px) {
  .forecast-container {
    grid-template-columns: repeat(3, 180px); /* Switch to 3 columns */
  }
}

/* Further adjustment for even smaller screens */
@media (max-width: 650px) {
  .forecast-container {
    grid-template-columns: repeat(2, 180px); /* Switch to 2 columns */
  }
}

/* For very small screens, like mobile phones */
@media (max-width: 450px) {
  .forecast-container {
    grid-template-columns: 180px; /* Use a single column layout */
  }
}

.single-forecast, .single-forecast-day {
  list-style-type: none;
  width: 30px;
  padding: 10px;
}
.single-forecast-day {
  font-weight: bold;
  color: #EC6E4C;
  font-size: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  min-width: 60px;
}
.whole-forecast-container {
  background-color: white; /* Background color of the box */
  box-shadow: 5px 3px 10px 0px rgba(0, 0, 0, 0.3); /* Shadow effect */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 5%;
}
.min-max-container {
  display: flex;
  margin: 0;
  justify-content: space-between;
  text-align: center;
  font-size: 18px;
}
.weather-forecast-text {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center
}