.header {
  display: flex;
  font-family: 'Roboto', sans-serif;
  justify-content: space-evenly;
}

.weather-image {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}
.temperature-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.weather-data {
  font-size: 15px;
  line-height: 140%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #9aa0a6;
}
.weather-data p {
  margin: 0;
}

.time-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.time-container h4 {
  margin: 0;
  color: #9aa0a6;
  font-weight: normal;
  font-size: 15px;
}

.time-container h2 {
  margin-bottom: 10px;
  color: #EC6E4C;
}

/* For very small screens, like mobile phones */
@media (max-width: 520px) {
  .header {
    flex-direction: column;
  }
  .weather-data {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .time-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

